body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

#workout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, select, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max(100px, 30%);
    align-self: center;
}

button:hover {
    background-color: #45a049;
}

#workout-plan {
    margin-top: 20px;
}

#workout-plan div {
    margin-bottom: 10px;
}

#workout-table {
    border-collapse: collapse;
    width: 100%;
}

#workout-table th, #workout-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#workout-table th {
    background-color: #f2f2f2;
}

div #category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#category-buttons button {
    background-color: red;
}

div #exercise-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#exercise-buttons button {
    background-color: blue;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}