body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h2 {
    text-align: center;
}

#workout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7c7c7c;
    color: rgb(255, 255, 255);
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, select, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #26337a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max(100px, 30%);
    align-self: center;
}

button:hover {
    background-color: #26337a;
    box-shadow: 0 0 10px 5px #48abe0;
}

#workout-plan {
    margin-top: 20px;
}

#workout-plan div {
    margin-bottom: 10px;
}

#workout-table {
    border-collapse: collapse;
    width: 100%;
}

#workout-table th, #workout-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#workout-table th {
    background-color: #f2f2f2;
}

div #category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#category-buttons button {
    background-color: #26337a;
}

div #exercise-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#exercise-buttons button {
    background-color: #51267a;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    border: 0;
    height: 2px;
    width: 80%;
    background: #000000;
    background-image: linear-gradient(to right, #7c7c7c, #000000, #7c7c7c);
}